<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>SoundCloud Backbone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='main.css'>
</head>
<body>
  <nav class='center clearfix white bg-dark-gray'>
    <h1 class='cleafix m0 py2'>WHISPERSPEAK</h1>
  </nav>
  <main>

    <script id='songsTemplate' type='text/template'>
      <div class='bg-light-gray mb1 rounded'>
        <h4 class='h4 h0-responsive caps m0 py1 regular'><%= title %></h4>
        <audio src='<%= stream_url %>?client_id=8ec20fb5cf443b6a8370954c522149c3' controls='controls'>HTML5 audo is supported in your browser.</audio>
        <a href='<%= permalink_url %>' class='button py1 m1 button-blue'>Listen on Soundcloud</a>
      </div>
    </script>

    <div id='songs' class='center p1'></div>

  </main>

  <footer>
    <div class='center clearfix white bg-dark-gray'>
      <h6 class='caps py2 m0'>Made by Ben Tranter</h6>
    </div>
  </footer>
  <script src='http://code.jquery.com/jquery-2.0.3.min.js'></script>
  <script src='http://underscorejs.org/underscore.js'></script>
  <script src='http://backbonejs.org/backbone.js'></script>
  <script src='main.js'></script>
</body>
</html>

<!--
  
  Client ID: 8ec20fb5cf443b6a8370954c522149c3
  Client Secret: 8231909b8d3430b1e4be09f07ad45214 -->