<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>SoundCloud Backbone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='main.css'>
</head>
<body>
  
  <main>

    <script id='profileTemplate' type='text/template'>
      <nav class='center clearfix white bg-dark-gray'>
        <a href='<%= permalink_url %>'>
          <h1 class='cleafix m0 py2'><%= username %></h1>
        </a>
      </nav>
      <h3 class='h3 center dark-gray'><%= description %></h3>
      <img src='<%= avatar_url %>' class='full-width'/>
    </script>
    <div id='profile'></div>

    <audio id='music' class='table mt1 px1' controls='controls' autoplay></audio>

    <script id='songsTemplate' type='text/template'>
      <div class='songs bg-light-gray mb1 rounded' data-id='<%= id %>'>
        <h4 class='h4 h0-responsive caps m0 py1 regular'><%= title %></h4>
      </div>
    </script>

    <div id='songs' class='center p1'></div>

  </main>

  <footer>
    <div class='center clearfix white bg-dark-gray'>
      <h6 class='caps py2 m0'>Made by Ben Tranter</h6>
    </div>
  </footer>
  <script src='http://code.jquery.com/jquery-2.0.3.min.js'></script>
  <script src='http://underscorejs.org/underscore.js'></script>
  <script src='http://backbonejs.org/backbone.js'></script>
  <script src='main.js'></script>
</body>
</html>